<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{static_url('bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{static_url('bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')}}">
    <script src="{{static_url('bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('CSS/log_in.css')}}">
    <script src="{{static_url('vue.js')}}"></script>
    <title>Chart Room - Login</title>
</head>
<body>
<div class="container" id="body_container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6" id="sign_in_div">
            <div class="col-sm-12">
                <h2 class="text-center">Chart Room <small>__by yutian</small></h2>
            </div>
            <div class="col-sm-12">
            <form role="form" id="sign_in_form">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label text-right">用户名：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="请输入用户名" required>
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label text-right">密码：</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="password" type="password" required>
                    </div>
                      <br>
                </div>

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
                         <br>
                    </div>
                </div>
            </form>
            </div>
            <div class="col-sm-12">
                <p class="text-right">还没有账户？<span class="glyphicon glyphicon-arrow-right"></span><a href="#">点击注册</a></p>
            </div>
        </div>
        <div class="col-xs-3"></div>

    </div>
</div>

</body>
</html>